.co_mto_shadowedElement
{
	box-shadow: 5px 5px 10px #000;
	background-color: #fff;
}
.co_mto_abstractWithdrawn
{
	color: red;
}





/*
* BOX / LEGEND - to be retrieved from copernicus.css later on
*/
[class*=' box--'],
[class^='box--']
{
	position: relative;

	display: block;

	padding: .5em;
}

.box--border
{
	border: 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.box__legend
{
	position: absolute;
	top: -.75em;

	display: block;

	padding: 0 .25em;

	font-weight: bold;

	background-color: #fff;
}

.box__content
{
	display: block;
	padding-top: .5em;
}

/** avoid accumulating of parent padding and child margin **/
.box__content *:last-child
{
	margin-bottom: 0;
}
/*
* BOX / LEGEND /
*/
